/* ****************
Root */

:root {
    background-color: #F6F7F8;
    font: 16px sans-serif;
    --blue_color: #5995DA;
    --blue_color_hover: #76AEED;
    --blue_color_active: #407FC7;
}

body {
  margin: 0;
  padding: 0;
}


/* *********** */

/* Editing the main container and its left side */

.main {
  display: flex;
  text-align: center;
  background-color: #F6F7F8;
  border-radius: 3px;
  height: 100vh;
}

.main_left {
  background-image: url(./images/fernsehturm-berlin.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
  color: white;
  font-size: 3rem;
  height: 100vh;
}

.header_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 100px;
  position: relative;
  top: 21vh;
  gap: 1vw;

  background-color: black;
  opacity: 0.8;
}

.header_logo_container > img {
  height: 100%;
  width: auto;
}


/* ***************** */

/* Editing the right side of the main container */

.main_right {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.main_right_top, .main_right_mid, .main_right_bottom {
  padding-left: 40px;
  padding-right: 40px;
}

.main_right_top {
  margin-top: 100px;
  margin-bottom: 40px;
}

.main_right_mid {
  background-color: white;
  height: max(35vh, 150px);
  display: flex;
  flex-direction: column;
}

.main_right_bottom {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.main_right_mid h3 {
  flex-grow: 0;
  margin: 15px 0px;
}

form#myform {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10vh;
  flex-grow: 1;
}

.form_left_rows, .form_right_rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.form_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  width: calc(20px + 30vh);
}

/* *********** */
/* Editing buttons labels and inputs */

label {
  font-size: 0.8rem;
}

input {
  border: 1px solid var(--blue_color);
  border-radius: 5px;
  height: 1.4rem;
  outline: none;
}

button {
  width: 12rem;
  background-color: var(--blue_color);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 4px 16px;
  border: none;
}
button:hover {
  background-color: var(--blue_color_hover);
}
button:active {
  background-color: var(--blue_color_active);
}


a {
  color: var(--blue_color);
  font-weight: bold;
}
a:hover {
  color: var(--blue_color_hover);
}
a:active {
  color: var(--blue_color_active);
}

/* *********
Errors */

.error {
  background-color: #D55C5F;
  font-size: 8px;
}

input:focus {
  border: 2px solid red;
}

input:focus:valid {
  border: 2px solid green;
}

**********